/*body parameters*/

html,body
{
    height:100%;
    margin:0;
    position: relative;
    scroll-behavior: smooth;
    overflow-x:hidden;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
}

/*-----------------------*/
/*texts*/

.tooltip-text 
{
    visibility:hidden;
    position:absolute;
    z-index:12;
    width:180px;
    font-size:20px;
    line-height:25px;
    color:white;
    background-color: rgba(31, 42, 51, 0.75);
    padding:5px;
}

.tooltip-hover
{
    text-decoration:underline dotted;
    text-decoration-color: rgba(173, 141, 153, 0.8);
}

.tooltip-hover:hover .tooltip-text
{
    visibility: visible;
}

#about-button
{
    text-decoration:underline;
    text-decoration-thickness:5px;
    border:none;
    background: none;
    font-family: Ysabeau Infant;
    color:whitesmoke;
    font-size:1em;
    font-weight:600;
    transition: 0.3s;
}

#about-button:hover
{
    color:orange;
}

#hello-text
{
    font-family: Ysabeau Infant;
    color:whitesmoke;
    font-size:10em;
    line-height: 130px;
    margin:0;
    margin-left:15%;
    margin-top:220px;
    margin-bottom:80px;
}

#intro-text
{
    font-family: Ysabeau Infant;
    color:whitesmoke;
    font-size:5em;
    line-height:75px;
    margin:0;
    margin-left:15%;
    margin-top:10px;
}

#project-text
{
    font-family: Ysabeau Infant;
    color:whitesmoke;
    font-size:5em;
    line-height:75px;
    margin:0;
    margin-left:15%;
    margin-top:60px;
    margin-bottom:5%;
}

#second-about-section-title
{
    font-family: Ysabeau Infant;
    color:whitesmoke;
    font-size:5em;
    line-height:75px;
    margin:0;
    margin-left:15%;
    margin-top:75px;
    margin-bottom:50px;
}

#description
{
    font-family:Quicksand;
    color:whitesmoke;
    font-size:2.5em;
    line-height:30px;
    margin:0;
    margin-left:15%;
    width:60%;
}

#skills-title
{
    font-family: Ysabeau Infant;
    color:whitesmoke;
    font-size:4em;
    line-height:60px;
    margin:0;
    margin-left:15%;
    margin-top:20px;
    margin-bottom:30px;
}

#skill-list
{
    font-family:Quicksand;
    color:whitesmoke;
    font-size:2.5em;
    line-height:30px;
    margin:0;
    margin-left:15%;
    width:50%;
}

#welcome-button
{
    width:50px;
    height:50px;
    border-radius:50%;
    border:2.5px solid whitesmoke;
    background: none;
    color:white;
    position: absolute;
    top:0;
    right:0;
    margin:20px;
    transition: 0.3s;
    background-image: url("./download.png");
    background-size: 45px 45px;
    rotate:90deg;
}

#welcome-button:hover
{
    background-color: rgba(235, 209, 214, 0.5);
}

@media screen and (min-width:1000px)
{
    #hello-text
    {
        margin-top:220px;
        margin-bottom:80px;
        font-size:10em;
        line-height: 130px;
    }

    #intro-text
    {
        font-size:5em;
        margin-top:10px;
        line-height:75px;
    }

    #second-about-section-title
    {
        font-size:5em;
        line-height:75px;
        margin-top:75px;
        margin-bottom:50px;
    }

    #description
    {
        font-size:2.5em;
        line-height:30px;
    }

    #skills-title
    {
        font-size:4em;
        line-height:60px;
        margin-top:20px;
        margin-bottom:30px;
    }

    #skill-list
    {
        font-size:2.5em;
        line-height:30px;
    }
}

@media screen and (max-width:999px)
{
    #hello-text
    {
        margin-top:150px;
        margin-bottom:60px;
        font-size:6em;
        line-height: 110px;
    }

    #intro-text
    {
        font-size:3em;
        margin-top:6px;
        line-height:60px;
    }

    #second-about-section-title
    {
        font-size:4em;
        line-height:70px;
        margin-top:60px;
        margin-bottom:30px;
    }

    #description
    {
        font-size:2em;
        line-height:25px;
    }

    #skills-title
    {
        font-size:3em;
        line-height:50px;
        margin-top:15px;
        margin-bottom:20px;
    }

    #skill-list
    {
        font-size:2em;
        line-height:25px;
    }
}

@media screen and (max-width:899px)
{
    #skills-title
    {
        display:none;
    }

    #skill-list
    {
        display:none;
    }
}

@media screen and (max-width:799px)
{
    #hello-text
    {
        margin-bottom:0px;
        font-size:4em;
    }

    #intro-text
    {
        font-size:2em;
        margin-top:3px;
        line-height:40px;
    }

    #second-about-section-title
    {
        font-size:2em;
        line-height:50px;
        margin-top:50px;
        margin-bottom:25px;
    }

    #description
    {
        font-size:1.5em;
        line-height:20px;
    }
}

@media screen and (min-height:900px)
{
    #hello-text
    {
        margin-top:220px;
        margin-bottom:100px;
        line-height: 130px;
    }

    #intro-text
    {
        line-height:75px;
    }

    #second-about-section-title
    {
        font-size:5em;
        line-height:75px;
        margin-top:75px;
        margin-bottom:50px;
    }

    #description
    {
        font-size:2em;
        line-height:33.3px;
    }

    #skills-title
    {
        font-size:4em;
        line-height:60px;
        margin-top:20px;
        margin-bottom:30px;
    }

    #skill-list
    {
        font-size:2.5em;
        line-height:30px;
    }
}

@media screen and (max-height:899px)
{
    #hello-text
    {
        margin-top:120px;
        margin-bottom:30px;
        line-height: 110px;
    }

    #intro-text
    {
        line-height:70px;
    }

    #second-about-section-title
    {
        font-size:4em;
        line-height:70px;
        margin-top:50px;
        margin-bottom:20px;
    }

    #description
    {
        font-size:1.5em;
        line-height:22px;
    }

    #skills-title
    {
        font-size:3em;
        line-height:50px;
        margin-top:15px;
        margin-bottom:20px;
        display:block;
    }

    #skill-list
    {
        font-size:2em;
        line-height:25px;
        display:block;
    }
}

@media screen and (max-height:834px)
{
    #skills-title
    {
        display:none;
    }

    #skill-list
    {
        display:none;
    }
}

@media screen and (max-height:599px)
{
    #hello-text
    {
        margin-top:75px;
        margin-bottom:20px;
    }

    #intro-text
    {
        line-height:60px;
    }

    #second-about-section-title
    {
        font-size:3em;
        line-height:60px;
        margin-top:35px;
        margin-bottom:10px;
    }

    #description
    {
        font-size:1em;
        line-height:15px;
    }

    #skills-title
    {
        font-size:2em;
        line-height:40px;
        margin-top:10px;
        margin-bottom:10px;
        display:block;
    }

    #skill-list
    {
        font-size:1em;
        line-height:15px;
        display:block;
    }
}

/*-----------------------*/
/*link buttons*/

#button-links
{
    width:400px;
    height:95px;
    text-align: center;
    margin-left:15%;
    margin-top:75px;
    padding:0;
    border:none;
}

.round-button
{
    width:75px;
    height:75px;
    margin:10px;
    border-radius:50%;
    border:3px solid whitesmoke;
    background:none;
    font-size:35px;
    font-family:Quicksand;
    color:whitesmoke;
    font-weight:bold;
    transition: 0.3s;
    vertical-align: middle;
    padding-top:8px;
    padding-right:6.5px;
}

#git.round-button
{
    background-image: url("./git.png");
    background-size:67.5px 67.5px;
    background-repeat: no-repeat;
}

#linkedin.round-button
{
    background-image: url("./linkedin.png");
    background-size:67.5px 67.5px;
    background-repeat: no-repeat;
}

#insta.round-button
{
    background-image: url("./insta.png");
    background-size:67.5px 67.5px;
    background-repeat: no-repeat;
}

#cv.round-button:hover
{
    transition: 0.3s;
    color:transparent;
    background-image:url("./download.png");
    background-repeat: no-repeat;
}

.round-button:hover
{
    background-color:rgba(235, 209, 214, 0.5);
}

@media screen and (max-width:499px)
{
    .round-button
    {
        width:45px;
        height:45px;
        border:2px solid whitesmoke;
    }

    #button-links
    {
        width:300px;
        height:65px;
    }

    #git.round-button
    {
        background-size:40px 40px;
    }

    #linkedin.round-button
    {
        background-size:40px 40px;
    }

    #insta.round-button
    {
        background-size:40px 40px;
    }

    #cv.round-button
    {
        font-size:20px;
    }

    #cv.round-button:hover
    {
        background-size: 40px 40px;
    }
}

/*-----------------------*/
/*scrollbar*/

::-webkit-scrollbar
{
    width:12px;
}

::-webkit-scrollbar-track
{
    background-color:transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb
{
    background:#aac3d1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover
{
    background:#7c919c;
}

::-webkit-scrollbar-thumb:active
{
    background:#3b4a52;
}

/*-----------------------*/
/*sidebar main parameters*/

.sidebar
{
    width:140px;
    height:100%;
    font-family:Rajdhani;
    background-image: url("./sidebar_background.jpg");
    color:white;
    float:left;
    position:fixed;
    display: block;
}

@media screen and (min-width:900px)
{
    .sidebar{display: block;}
}

@media screen and (max-width:899px)
{
    .sidebar{display: none;}
}

/*-----------------------*/
/*sidebar text on top left*/

.sidebar-section-title
{
    color:#A1DBF1;
    font-size:25px;
    left:25px;
    position:absolute;
    font-weight: bold;
}

/*-----------------------*/
/*sidebar 3 buttons container*/

.sidebar-navigation-buttons
{
    height:100px;
    width:100px;
    position:absolute;
    top:33.3%;
    left:10px;
    margin-left:12px;
    rotate:90deg;
}

/*-----------------------*/
/*sidebar generic button*/

.sidebar-section-button
{
    color:whitesmoke;
    background:none;
    border:none;
    font-family:Rajdhani;
    font-size:22.5px;
    width:100px;
    height:33px;
    margin-bottom:3px;
    display: inline-block;
    transition: 0.3s;
}

.sidebar-section-button:hover
{
    background-color: rgba(225, 239, 250, 0.6);
    color:white;
    font-weight: 200;
}

/*-----------------------*/
/*sidebar sideways text*/

.sidebar-text
{
    font-size: 14px;
    font-family:Rajdhani;
    writing-mode: vertical-lr;
    position: absolute;
}

@media screen and (max-height:720px)
{
    .sidebar-text
    {
        display: none;
    }
}

/*-----------------------*/
/*content containers*/

#about-content-container
{
    height:100%;
    width:100%;
    padding:1px;
}

#projects-content-container
{
    height:100%;
    width:100%;
    padding:1px;
}

#contact-content-container
{
    height:100%;
    width:100%;
    padding:1px;
}

@media screen and (max-width:929px)
{
    #projects-content-container
    {
        padding-left:27.5%;
    }
}

@media screen and (max-width:599px)
{
    #projects-content-container
    {
        padding-left:0;
    }
}

/*-----------------------*/
/*project buttons*/

.project-div
{
    width:35%;
    height:21%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-left:15%;
    margin-bottom:30px;
    border-radius:18px;
    display:block;
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 2.5px );
    box-shadow: -2px 2px 12px rgba(74, 83, 81, 0.69);
    transition: 0.5s;
}

.project-div:hover
{
    margin-left:16%;
}

.project-name
{
    margin:0.1%;
    margin-left:8%;
    font-size:40px;
    font-family:Ysabeau Infant;
    color:whitesmoke;
}

.source
{
    margin-top:-5px;
    margin-left:8%;
    font-size:30px;
    font-family:Ysabeau Infant;
    color:whitesmoke;
    display: block;
}

.proj-tools
{
    margin:4%;
    margin-left:8%;
    margin-top:0;
    font-size:25px;
    font-family:Quicksand;
    color:#7c919c;
}

@media screen and (max-width:999px)
{
    .project-div
    {
        width:45%;
    }

    .project-title
    {
        margin-left:5px;
        font-size:3em;
        line-height:48px;
    }

    .proj-desc
    {
        font-size:16px;
        line-height:24px;
        margin-top:35px;
        margin-left:5px;
    }
}

@media screen and (max-width:899px)
{
    .project-div
    {
        margin-left:5%;
    }

    #project-text
    {
        margin-left:5%;
    }

    .project-info-div
    {
        width:55%;
    }

    .project-div:hover
    {
        margin-left:8%;
    }
}

@media screen and (max-width:849px)
{
    .project-name
    {
        margin:2%;
        margin-top:-2%;
        margin-left:5%;
        font-size:30px;
    }

    .source
    {
        margin-left:8%;
        font-size:20px;
    }

    .proj-tools
    {
        margin:2%;
        margin-left:5%;
        font-size:15px;
    }
}

@media screen and (max-width:599px)
{
    .project-div
    {
        width:85%;
        height:20%;
        border:none;
    }
}

@media screen and (max-height:849px)
{
    .project-name
    {
        margin:2%;
        margin-top:-2%;
        margin-left:5%;
        font-size:30px;
    }

    .source
    {
        margin-left:8%;
        font-size:20px;
    }

    .proj-tools
    {
        margin:2%;
        margin-left:5%;
        font-size:15px;
    }
}

/*-----------------------*/
/*project-info*/

@media screen and (max-width:929px)
{
    #project-info-1,#project-info-2,#project-info-3,.project-info-div
    {
        display:none;
    }
}

@media screen and (min-width:930px)
{
    #project-info-1,#project-info-2,#project-info-3,.project-info-div
    {
        display:none;
    }
}

.project-info-div
{
    width:45%;
    height:100%;
    float:right;
}

.project-title
{
    margin-top:25%;
    margin-left:69px;
    font-family: Ysabeau Infant;
    color:whitesmoke;
    font-size:4em;
    line-height:60px;
}

.proj-desc
{
    font-family:Quicksand;
    color:whitesmoke;
    font-size:22px;
    line-height:30px;
    margin-top:69px;
    margin-left:69px;
    width:80%;
}

.proj-links
{
    width:150px;
    height:50px;
    font-size:30px;
    font-family:Rajdhani;
    color:whitesmoke;
    border:2px solid whitesmoke;
    font-weight:bold;
    background: none;
    margin-left:16%;
    margin-top:80px;
}

#source-btn-1.proj-links,#source-btn-2.proj-links
{
    margin-left:50px;
}

#useless
{
    font-family:Quicksand;
    color:whitesmoke;
    font-size:33.33px;
    margin-top:-28px;
    margin-left:250px;
}

.close-proj-info
{
    float:right;
    display:inline;
    margin:30px;
    background:none;
    border:2px solid whitesmoke;
    color:whitesmoke;
    font-family:Ysabeau Infant;
    font-size:30px;
    width:50px;
    height:50px;
    border-radius: 50%;
    transition: 0.4s;
}

.close-proj-info:hover
{
    background-color:rgba(185, 212, 200, 0.5);
}

/*-----------------------*/
/*contact info*/

#contact-info
{
    width:1000px;
    margin-left:22.5%;
    margin-top:20%;
    transition:0.8s;
}

.contact-text
{
    font-family:Ysabeau Infant;
    color:whitesmoke;
    line-height:100px;
    margin-bottom:4px;
}

#contact-text-1
{
    font-size:100px;
    margin-bottom:0;
}

#contact-text-2
{
    font-size:80px;
    margin-top:0;
}

#contact-buttons
{
    width:150px;
    height:45px;
    text-align: center;
    margin-left:22.5%;
    padding:0;
    border:none;
}

#git-2.round-button
{
    background-image: url("./git.png");
    background-size:32.5px 32.5px;
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    margin:2px;
}

#linkedin-2.round-button
{
    background-image: url("./linkedin.png");
    background-size:32.5px 32.5px;
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    margin:2px;
}

#insta-2.round-button
{
    background-image: url("./insta.png");
    background-size:32.5px 32.5px;
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    margin:2px;
}

#mail-text
{
    font-family:Quicksand;
    color:orange;
    font-size:25px;
    margin-top:4px;
    margin-bottom:5px;
    font-weight: bolder;
}

@media screen and (max-width:799px)
{
    #contact-info
    {
        width:500px;
        margin-left:15%;
        margin-top:50%;
    }

    .contact-text
    {
        line-height:70px;
        margin-bottom:2px;
    }

    #contact-text-1
    {
        font-size:60px;
    }

    #contact-text-2
    {
        font-size:40px;
    }

    #contact-buttons
    {
        margin-left:15%;
    }

    #git-2.round-button
    {
        background-size:20px 20px;
        background-repeat: no-repeat;
        width:25px;
        height:25px;
    }

    #linkedin-2.round-button
    {
        background-size:20px 20px;
        background-repeat: no-repeat;
        width:25px;
        height:25px;
    }

    #insta-2.round-button
    {
        background-size:20px 20px;
        background-repeat: no-repeat;
        width:25px;
        height:25px;
    }

    #mail-text
    {
        font-size:17.5px;
        margin-top:2px;
        margin-bottom:3px;
    }
}