@media screen and (min-width:800px)
{
    .sidebar{display: block;}
}

@media screen and (max-width:799px)
{
    .sidebar{display: none;}
}

.sidebar
{
    width:140px;
    font-size:25px;
    font-family:Rajdhani;
    background-image: url("sidebar_background.jpg");
    color:white;
    float:left;
    display: none;
}